@import 'base';

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: transparent;

  color: #FFFFFF;
  padding: 0.5rem 1.5rem;
  width: 100%;
  height: 12rem;
  z-index: 100;

  position: fixed;
  top: 0;
  
  > span {
    font-family: $secondary-font;
    font-size: 5.76rem;
    text-shadow: 0 0 .3rem #000000;
  }
  
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    cursor: pointer;
    
    i {
      color: red;
    }
  }
}

@media screen and (min-width: 1024px) {
  nav {
    background-color: $secondary-colour;
    
    span {
      text-shadow: none;
    }
  }

}