@import 'base';

form {
  textarea {
    background: transparent;
    resize: none;
    border: 0 none;
    border-bottom: .5rem solid rgba(0, 0, 0, 0.582);
    width: 100%;
    font-size: 3.8rem;
    outline: none;
    font-weight: 600;
    line-height: 2.4rem;
    /* position: absolute; */
  }
  
  div {
    font-family: $secondary-font;
    display: flex;
    justify-content: space-between;
    
    button {
      background-color: $secondary-colour;
      border: none;
      color: #FFFFFF;
      padding: .5rem 1rem;
    }
  }
}

.new-tweet {
  margin-bottom: 5rem;
  height: 17.2rem;
}