.scroll-up-to-tweet {
  display: none;
  border: none;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 100%;
  background-color: red;
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;

  cursor: pointer;
  color: hsl(0, 0%, 100%);
  font-size: 3.8rem;
}