body > header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 52rem;
  padding-top: 12rem;
  justify-content: center;
  align-items: center;
  background-color: #c97f00;
  background-image: url("../images/header-background.png");
  color: #FFFFFF;
}

@media screen and (min-width: 1024px) {
  body > header {
    width: 30%;
    margin: auto 2.5%;
    margin-top: 22rem;
    height: 40rem;
    padding-top: 0;
    float: left;
  }
}
