nav {
  display: flex;
  align-items: end;
  justify-content: space-between;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0.5em 1.5em;
  width: 100%;
  height: 120px;
  z-index: 100;

  position: sticky;
  top: 0;
}

nav > span {
  font-family: 'Bungee', sans-serif;
  font-size: 2.4em;
}

nav > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
}

nav > div > i {
  color: red;
}