
.tweet {
  border: 5px solid rgba(0, 0, 0, 0.582);
  padding: 10px 16px;
  margin: 18px 0;
  font-weight: 600;
}

.tweet:hover {
  box-shadow: 8px 8px #C5CBE3;
}

.tweet p {
  padding: 0 24px;
}

.tweet header span {
  font-weight: initial;
  display: flex;
  align-items: center;
  gap: 12px;
}

.tweet .handle {
  font-weight: 600;
  color: #C5CBE3;
}

.tweet header,
.tweet footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 24px;
}

.tweet header {
  padding-left: 6px;
}

.tweet footer {
  font-size: 18px;
  border-top: 5px solid rgba(0, 0, 0, 0.582);
}

.tweet footer span {
  display: flex;
  gap: 10px;
}

.tweet footer span i {
  color: #4056A1;
}

.tweet footer span i:hover {
  cursor: pointer;
  color: #c97f00;
}